body{
  background: linear-gradient(skyblue, yellow) fixed;
  color: rgba(0, 22, 223, 0.753);
}
span{
  color: #444;
}
.container{
  text-align: center;
  line-height: 3rem;
  margin-top: 150px;
  font-family: 'Times New Roman', Times, serif;  
  font-size: 3em;
  font-weight: bold;
}
.decrease, .reset, .increase{
  margin: 12px auto;
  padding: 10px;
  font-family: monospace;
  font-size: 1.5rem;
  background: coral;
  border: 4px dashed #444;
  border-radius: 4px;
  color: #eee;
  cursor: pointer;
}
.decrease:active, .reset:active, .increase:active{
  font-size: 15px;
  border-width: 0;
  border-radius: 5px;
}
.btn:focus{
  background-color: dodgerblue;
}